html{
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
}

main{
    width: 900px;
    height: 2000px;
    background-color: grey;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 150px auto;
    
}